<template>
<div class="orderpad container">
	<div v-show="!showOrderSummary">
		<form>
			<div class="input-field col s4">
				<select class="stockSelect" v-model="orderpad.stock">
					<option value="" disabled selected>Select Stock</option>
					<option value="BHP:ASX">BHP:ASX</option>
					<option value="MSFT:NAS">MSFT:NAS</option>
					<option value="RIO:ASX">RIO:ASX</option>
				</select>
			</div>
			<div>
				<input type="number" v-model="orderpad.quantity" onclick="this.select()" /> <br /> at Market
				Price
			</div>
			<div>
				<label> <input type="checkbox" v-model="orderpad.notifyMe" /> <span>Notify
						me when done (Order Filled)</span>
				</label>
			</div>
			<div>
				<button v-on:click="submitOrder" class="waves-effect waves-light btn-large">Submit</button>
			</div>
		</form>
	</div>
	
	<div id="orderSummary" v-show="showOrderSummary">
		<p v-show="orders.length > 0">
			Last updated: {{formatDate(lastUpdated)}}
		</p>
		<button v-on:click="newOrder" class="waves-effect waves-light btn-large">New order</button>
		<br/>
		<table>
			<tr>
				<th>Order#</td>
				<th>Stock</th>
				<th>Units</th>
				<th>Order status</th>
				<th>Last update</th>
			</tr>
			<tr v-for="order in orders">
				<td>{{order.id}}</td>
				<td>{{order.stock}}</td>
				<td>{{order.quantity}}</td>
				<td>{{order.status}}</td>
				<td>{{formatTimestamp(order.timestamp)}}</td>
			</tr>
		</table>
	</div>

	<br /> <br /><br /> <br /><br /> <br /><br /> <br />
	<button type="button" onclick="window.location.href='#/'"><-
		Back home screen</button>
</div>
</template>

<script>
export default {
  mounted() {
    this.order = this.init();
    this.orders = localStorage.orders? JSON.parse(localStorage.orders) : [];
    this.lastUpdated = localStorage.lastUpdated? Number(localStorage.lastUpdated) : undefined;

    var idIdx0 = location.search.indexOf('id=');
    if (idIdx0 >= 0) {
      let id = -1;

      var idIdx1 = location.search.indexOf('&', idIdx0);
      if (idIdx1 > idIdx0) {
        id = Number(location.search.substring(idIdx0 + 3, idIdx1));
      }
      else {
        id = Number(location.search.substring(idIdx0 + 3));
      }

      for (let i = 0; i < this.orders.length; i++) {
        const order = this.orders[i];
        if (order.id === id) {
          order.status = 'filled';
          order.notifyMe = false;
          break;
        }
      }

      localStorage.orders = this.orders;
    }

    this.$nextTick(function () {
        var elems = document.querySelectorAll('select', {});
        var instances = M.FormSelect.init(elems);
    });

    setInterval(() => {
      const now = new Date();

      for (let i = this.orders.length - 1; i >= 0; i--) {
        const order = this.orders[i];
        if (order.notifyMe && ((now.getTime() - new Date(order.timestamp).getTime()) >= 5000)) {
          Notification.requestPermission().then(function (permission) {
            var notification = new Notification('NOTICE'
            , {
              body: `Order ${order.id} is now FILLED`,
              icon: '../assets/orderpad-icon.jpg',
              data: {
                id: order.id
              }
            });
            // notification.data = { id: order.id };
            notification.onclick = function(e) {
              // location = `/?id=${e.target.data.id}`;
              window.open(`/?id=${e.target.data.id}#/alvin`);
            };
          });
         order.status = 'filled';
         order.notifyMe = false;
        }
      }

      localStorage.orders = JSON.stringify(this.orders);

      if (this.orders.length > 0) {
        console.log(this.formatDate(new Date().getTime()));
      }
    }, 1000);
	  
	  
	/* this.orders = localStorage.orders? JSON.parse(localStorage.orders) : this.orders;
	this.lastUpdated = localStorage.lastUpdated? localStorage.lastUpdated : this.lastUpdated;
	console.log('this.orders', this.orders);
	
	document.addEventListener('DOMContentLoaded', function() {
	  var elems = document.querySelectorAll('select', {});
	  var instances = M.FormSelect.init(elems);
	}); */
	
	/* setInterval(() => {
		const now = new Date();
		console.log('this.lastUpdated', this.lastUpdated);
		
		for (let i = this.orders.length - 1; i >= 0; i--) {
			const order = this.orders[i];
			if (order.notifyMe && ((now.getTime() - order.timestamp.getTime()) >= 10000)) {
			 alert(`${JSON.stringify(order)}`);
			 order.notifyMe = false;
			}
		}
	}, 1000); */
  },
  data () {
    return {
      id: 1,
      showOrderSummary: true,
      orderpad: this.init(),
      lastUpdated: new Date(),
      orders: []
    }
  },
  methods: {
	init() {
		return {
			stock: '',
			quantity: 0,
			notifyMe: false,
			timestamp: 0
		};
	},
	formatTimestamp(dtMillis) {
		const now = new Date().getTime();
		const diff = now - dtMillis;
		if (diff < 59000) {
			return `${Math.floor(diff / 1000)} seconds ago`;
		}
		
		return this.formatDate(dtMillis);
	},
	formatDate(dtMillis) {
	    if (!dtMillis) {
	        return '';
	    }

		const dt = new Date(dtMillis);
		return `${(dt.getDate())}/${dt.getMonth() + 1}/${dt.getFullYear()} ${dt.getHours()}:${dt.getMinutes()}`;
	},
	newOrder() {
		this.orderpad = this.init();
		this.showOrderSummary = false;
	},
	submitOrder() {
		if (!this.orderpad.stock || this.orderpad.quantity < 1) {
			alert('You need to fill in the required fields');
			return;
		};
		
		this.orders.unshift({...this.orderpad, id: new Date().getTime(), status: 'pending', timestamp: new Date().getTime()});
		this.lastUpdated = new Date().getTime();
		this.orderpad = this.init();
		this.showOrderSummary = true;
		
		localStorage.orders = JSON.stringify(this.orders);
		localStorage.lastUpdated = this.lastUpdated;
		
		const elem = document.querySelector('.stockSelect');
		var instance = M.FormSelect.getInstance(elem);
	},
	clearSelection() {
		const elements = document.querySelector('.select-dropdown').options;
		for(let i = 0; i < elements.length; i++){
	      elements[i].selected = false;
	    }
	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #35495E;
}
</style>
