<template>
  <div class="hello">
    <h1>{{ pageHeaderText }}</h1>
      <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Latest price</th>
          </tr>
        </thead>

     <tbody v-if="stocks && stocks.length">
    <tr v-for="stock of stocks">
      <td><strong>{{stock.companyName}}</strong></td>
      <td>{{stock.latestPrice}}</td>
    </tr>
   </tbody>

      
      </table>



  <ul v-if="errors && errors.length">
    <li v-for="error of errors">
      {{error.message}}
    </li>
  </ul>

    <button type="button" onclick="window.location.href='#/'" ><- Back home screen</button>
    
  </div>
 
</template>

<script>
import axios from 'axios';
export default {
  name: 'brandon',
  data () {
    return {
      msg: 'brandon\'s component over \'#/brandon\' build your feature here :D',
      pageHeaderText: 'Live stock list',
      stocks: [],
      errors: []
    }
  },
  methods: {
    getStocks () {
      if (navigator.onLine) {
        console.log('online');
        this.saveStocksToCache()
      } else {
        console.log('offline');
        this.stocks = JSON.parse(localStorage.getItem('stocks'))
      }


        },
    saveStocksToCache () {
      axios.get(`https://api.iextrading.com/1.0/stock/market/list/mostactive`)
      .then(response => { 
        const stocks = response.data;
        localStorage.setItem('stocks', JSON.stringify(stocks));
        this.stocks = stocks;
        return stocks;
      }) .catch(e => {
          this.errors.push(e);
          return null;
        })
    },

  },
   // Fetches posts when the component is created.
  created() {

  this.getStocks();
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
