<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <h2>Team Links</h2>
    <ul>
      <li><a href="#/nasser" target="_self" rel="noopener">Nasser's Component</a></li>
      <li><a href="#/alvin" target="_self" rel="noopener">Alvin's Component</a></li>
      <li><a href="#/karen" target="_self" rel="noopener">Karen's Component</a></li>
      <li><a href="#/brandon" target="_self" rel="noopener">Brandon's Component</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'PWA Project'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
