<template>
  <div class="hello container">
    <h4>{{ msg }}</h4>
    <table id="alerts-table" class="responsive-table">
      <thead>
        <tr>
          <th>Stock code</th>
          <th>Order</th>
          <th>Amount</th>
          <th>Units</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item in alertStatus">
          <td>{{ item.code }}</td>
          <td>{{ item.order }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.units }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red" v-on:click="addItemComplete()"><i class="large material-icons">+</i></a>
    </div>
    <br/>
    <br/>
    <button type="button" onclick="window.location.href='#/'" class="waves-effect waves-light btn"><- Back home screen</button>
    <!--<button type="button" v-on:click="notifyMe()" class="waves-effect waves-light btn">Notification</button>-->
  </div>
</template>

<script>
import Materialize from "materialize-css";
export default {
  name: 'karen',
  data () {
    return {
      msg: 'Order notifications',
      alertStatus: [
        {
          code: 'BHP:ASX',
          order: 'Buy',
          amount: '10000',
          units: '295',
          status: 'Complete'
        },
        {
          code: 'BHP:ASX',
          order: 'Buy',
          amount: '10000',
          units: '295',
          status: 'Queued'
        },
        {
          code: 'NAB:ASX',
          order: 'Sell',
          amount: '140.40',
          units: '4000',
          status: 'Failed'
        },
        {
          code: 'NAB:ASX',
          order: 'Sell',
          amount: '140.40',
          units: '4000',
          status: 'Queued'
        }
      ],
    }
  },
  watch: {
    alertStatus: function (val) {
      //this.fullName = val + ' ' + this.lastName
      //var order = val[0].order;
      //var amount = val[0].amount;
      //var unit = val[0].unit;

      var code = val[0].code;
      var status = val[0].status;

      //Materialize.toast({html: 'code:'+code+' - order:'+order})
      setTimeout(() => {
        this.notifyMe(code, status);
      }, 2300)
    }
  },
  methods: {
    addItemQueued(){
      this.alertStatus.unshift(
        {
          code: 'XYZ:ASX',
          order: 'Buy',
          amount: '15000',
          units: '235',
          status: 'Queued'
        },
      )
    },
    addItemComplete(){
      this.alertStatus.unshift(
        {
          code: 'XYZ:ASX',
          order: 'Buy',
          amount: '15000',
          units: '235',
          status: 'Complete'
        },
      )
    },
    init(){
      setTimeout(() => {
        this.addItemQueued();
      }, 2000)

      setTimeout(() => {
        this.addItemComplete();
      }, 15000)
    },
    notifyMe(code, status) {
      Notification.requestPermission().then(function(permission) {
        //var orderAlert = "Your order has been successfully placed";
        var orderAlert = 'Your order for ' + code + ' has been ' + status;

        return new Notification(orderAlert);
      });
    }
  },
  mounted(){
    this.init();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
