<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: 'nasstore',
    data() {
      return {
        msg: ''
      }
    }
    , created: function () {
      this.setStorage(),
      window.location.hash = "/nasser";
    }
    , methods: {
      setStorage() {
        localStorage.setItem('key', ":)>>>>>"+new Date());
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
