/* eslint-disable */

<template>
  <div class="nas-component">
    <!--<iframe src="https://page-transitions.com/" style="border: 0; width: 100%; height: 1000px">Your browser doesn't support iFrames.</iframe>-->
    <!--<h3>{{ msg }}</h3>-->
    <!--<h6>{{ contact }}</h6>-->
    <a class="btn waves-effect waves-light red lighten-1 white-text" onclick="window.location.href='#/'">Back</a>
    <a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="notifyMe()">Notification</a>
    <!--<a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="getStorage()">Get storage</a>-->
    <!--<a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="setStorage()">Set storage</a>-->
    <!--<a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="trigger()">Link store</a>-->
    <!--<a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="toast()">Toast</a>-->
    <!--<a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="close()">Close tab</a>-->
    <a class="btn waves-effect waves-light green lighten-1 white-text" target="_top" href="market://details?id=com.corproxy.browser">Install Android Native Extensions</a>
    <a class="btn waves-effect waves-light blue lighten-1 white-text" target="_top" href="market://details?id={package_name}">Install iOS Native Extensions</a>

    <br/>
    <br/>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Finger print</div>
        <div class="collapsible-body"><span><a class="btn waves-effect waves-light red lighten-1 white-text"
                                               v-on:click="triggerNative('finger')">Finger print</a></span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>SMS</div>
        <div class="collapsible-body">
          <div>
            <a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="triggerNative('contacts')">get contacts</a>

            <div class="row">
              <label>Browser Select</label>
              <select class="browser-default" v-model="contact" >
                <option value="" disabled selected>Choose contact</option>
                <option v-for="(list, key) in contacts">{{ key }}</option>
              </select>
            </div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" v-bind:value="contact">
                  </div>
                  <div class="input-field col s6" >
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate" v-model="phonenumber">
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12" >
                    <textarea id="textarea1" class="materialize-textarea" v-model="textsms"></textarea>
                    <label for="textarea1">Textarea</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div><a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="sendSms()">Send SMS</a>
            <a class="btn waves-effect waves-light red lighten-1 white-text" v-on:click="callmeback()">Call me back</a></div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>NFC</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Google Pay</div>
        <div class="collapsible-body"><span>Scan your credit card</span></div>
      </li>
    </ul>

    <!--<div>-->
    <!--<a href="pwabind://abcd/123456789?host=123&port=&action=456">Finger print auth</a>-->
    <!--</div>-->
  </div>
</template>

<script>
  import Materialize from "../main"
  // import axios from 'axios';
  // window.onbeforeunload = function(e) {
  //   return 'Dialog text here.';
  // };

  const manifest = "mobile-hackathon";
  export default {
    name: 'nasser',
    data() {
      return {
        msg: 'v1',
        storagevalue: 'init',
        contacts: {},
        contact: "",
        textsms: "",
        phonenumber:""
      }
    }
    , mounted: function () {
      this.$nextTick(function () {
        var urlParams = new URLSearchParams(window.location.search);
        if ( urlParams.has('dataforweb') &&  urlParams.has('action')) {
          if (urlParams.get('action').trim().startsWith("contacts")) { //contacts init
            var json = urlParams.get('dataforweb');
            var accounts = JSON.parse(json);
            var mapAccount = {};
            for (var key in accounts) {
              if (accounts.hasOwnProperty(key)) {
                mapAccount[key] = accounts[key];
              }
            }
            this.contacts = mapAccount;
            Materialize.toast({html: "Contacts initialized!", displayLength: 3000});
            // alert(accounts)
            // this.contacts = Object.keys(accounts).map(function (key, value) { return accounts[key]; });
          } else if(urlParams.get('action').trim().startsWith("finger")) {
            var authenticated = urlParams.get('dataforweb');
            if(authenticated === "true"){
              Materialize.toast({html: "Finger printed triggered true", displayLength: 3000});
            }
          }
        }

        Materialize.Collapsible.init(document.querySelectorAll('.collapsible'), {accordion: true});
      })
    }
    , watch: {
      contact: function (val) {
        this.phonenumber = this.contacts[this.contact]
      }
    }
    , created: function () {
      // var elems = document.querySelectorAll('.collapsible');
      // var instance = Materialize.Collapsible.getInstance(elems);
    }
    , methods: {
      notifyMe() {
        Notification.requestPermission().then(function (permission) {
          var notification = new Notification("you got a new message");
        });
      }
      , setStorage() {
        localStorage.setItem('key', new Date());
      }
      , getStorage() {
        this.storagevalue = localStorage.getItem('key');
      }
      , redirect() {
        window.location.hash = "/nasstore";
      }
      , toast() {
        Materialize.toast({html: 'I am a toast!', displayLength: 2000});
      }
      , callmeback() {
        this.triggerNativeSms("sendsms",this.phonenumber,"Call me may be!")
      }
      , sendSms() {
        this.triggerNativeSms("sendsms",this.phonenumber,this.textsms)
      }
      , googlePlay() {
        this.phonenumber = this.contacts[this.contact]
      }
      , setPhone() {
        window.location.href = "market://details?id=com.corpoxy.browser";
      }
      , triggerNativeSms(action,phonenumber,textsms) {
        // window.location.href = 'pwabind://testing01/abcd';
        var path = "";
        var parameters = "protocol=" + window.location.protocol
          + "&hostname=" + window.location.hostname
          + "&port=" + window.location.port
          + "&textsms=" + textsms
          + "&phonenumber=" + phonenumber
          + "&action=" + action
          + "&appname=" + manifest
        ;
        window.location.href = "pwabind://" + path + "?" + parameters;
      }
      , triggerNative(action) {
        // window.location.href = 'pwabind://testing01/abcd';
        var path = "";
        var parameters = "protocol=" + window.location.protocol
          + "&hostname=" + window.location.hostname
          + "&port=" + window.location.port
          + "&action=" + action
          + "&appname=" + manifest
        ;
        window.location.href = "pwabind://" + path + "?" + parameters;
      }
      , close() {
        close();
      }
      // ,requestInfo() {
      //   axios.get('pwabind://testing/testing')
      //     .then(function (response) {
      //       alert(1)
      //       console.log(response);
      //     })
      //     .catch(function (error) {
      //       alert(0)
      //       console.log(error);
      //     });
      // }
    }
    // ,watch: {
    //   input: function () {
    //     if (isLocalStorage() /* function to detect if localstorage is supported*/) {
    //       localStorage.setItem('key', this.input)
    //     }
    //   }
    // }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .collapsible {
    max-width: 400px;
    margin: auto;
  }

  ul {
    margin-left: 15px;
    margin-right: 15px;
  }

</style>
